.course {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    width: 100%;

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 20pt;
        padding-right: 4%;

        .name_favorite {
            display: flex;
            flex-direction: row;
            min-width: 33%;
            align-items: center;

            .favorite {
                padding-right: 20px;
            }

            .comment_button {
                right: 5%;
                position: absolute;
            }
        }

        .review {
            width: 30%;
        }
    }
    
    .info {
        font-size: 12pt;
        padding: 5pt;
    }

    .description p{
        font-size: 11pt;
    }

    .body {
        display: flex;
        flex-direction: column;
        font-size: 12pt;
        padding: 5pt;

        .comment {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
        }
    }
    
    // .right-col {
    //     display: flex;
    //     justify-content: center;
    //     width: 15%;
    //     padding-top: 30px;
    //     // padding-left: 60px;
    // }
}


