.course {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    width: 100%;

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 20pt;
        padding-right: 4%;

        .name_favorite {
            display: flex;
            flex-direction: row;
            min-width: 33%;
            align-items: center;

            .favorite {
                padding-right: 20px;
            }

            .comment_button {
                right: 5%;
                position: absolute;
            }
        }

        .review {
            width: 30%;
        }
    }
    
    .info {
        font-size: 14pt;
        padding: 5pt;

        .instructor b {
            font-size: 19px;
            font-weight: bolder;
        }

        .gpa b {
            font-size: 19px;
            font-weight: bolder;
        }
        
        .description b {
            font-size: 19px;
            font-weight: bolder;
        }

        .description p{
            font-size: 13pt;
        }
    }

    

    .body {
        display: flex;
        flex-direction: column;
        font-size: 12pt;
        padding: 5pt;

        .comment {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
        }
    }
}

.ant-comment-content-author-name {
    font-size: 16px;
}

.ant-comment-content-detail {
    font-size: 17px;
}